body {
  font-size: 16px;
  color: black;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size:1.2em;
}

img {
	max-width: 100%;
}


/* @media only screen and (max-width:360px){
  body{
    font-size:1.6em;
    margin:10px 20px
  }
  body h1{
    font-size:1em;
  }
  figure {
    margin-bottom: 10px !important;
  }
} */
figure {
	margin: 25px;
}